body{
  background: linear-gradient(154.48deg, #2A5AF7 4.61%, #AB229B 78.86%);
  min-height: 100vh;
}

h1{
  font-size: 50px;
  color: white;
  margin-top: 30px;
}
.ota{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}